<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ITWorkshopHomepageConnectionString" connectionString="Data Source=CNHUAIT60\SQLEXPRESS;Initial Catalog=IT_Workshop_WorkFlow;User ID=sa;Password=Huaapp1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SQLServer" value="CNHUAIT60"/>
    <add key="SessionTimeout" value="3600"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    
    <!--消息队列模块配置-->
    <add key="UpdateAdminGroup" value="1290656;LIUY522"/> <!--一定要按照JABIL\\用户NTID的方式写-->
    <add key="Message_Server" value="10.114.96.252"/>
    <add key="Queuen_Name" value="wifi_visitor" /><!--wifi_visitor-->
    <add key="Job_Queuen_Name" value="update_visitor" />
    
    <!--企业微信配置-->
    <!--企业微信配置-->
    <add key="corpid" value="ww5352dad0e422afec"/>
    <!--公司微信号ID-->
    <add key="CorpSendBaseAgentID" value="1000002"/>
    <!-- 1000002 为zion_notification群组 ,1000005为zion个人组-->
    <add key="secret" value="59xHbJDuvP5prm00mPOzZBPUAyThji3_EDN_ByZXhUU"/>
    <!--管理组密钥  dIjNJeZuohTo-RnfG6DCPrkLHq_V7QIvoktML0CymlA 为test zion个人组/ 59xHbJDuvP5prm00mPOzZBPUAyThji3_EDN_ByZXhUU 为zion_notification组-->
    <add key="getAccessTokenUrl" value="https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid={0}&amp;corpsecret={1}&amp;"/>
    <add key="messageSendURI" value="https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token={0}"/>
    
    <!--Visitor通知邮件配置-->
    <add key="Mail_Sender" value="Yuki_Liu@jabil.com" /><!--Yuki_Liu@jabil.com-->
    <add key="Mail_Receiver" value="Yuki_Liu@jabil.com;zion_loh@jabil.com"/>
    <add key="Mail_CC" value="" />
    <!--<add key="Mail_Receiver" value="Zion_Loh@jabil.com;Yuki_Liu@jabil.com;_18d8a4@Jabil.com;_2417ea@Jabil.com" />-->
    <!--<add key="Mail_CC" value="Jeff_Chen@Jabil.com;Canter_Zeng@Jabil.com;Michael_Chuah@Jabil.com;Mg_Song@Jabil.com;Zion_Loh@Jabil.com;Isaac_Jin@Jabil.com;_8b732@Jabil.com;Kevin_Zheng@Jabil.com"/>-->
  </appSettings>
  <system.web>
    <!--WINDOWS认证-->
    <!--获取在线人数，开启以下设置-->
    <authentication mode="Windows"/>
    <identity impersonate="false"/>
    <!--WINDOWS认证-->
    <!--<sessionState cookieless="true" />-->
    <sessionState mode="InProc" timeout="3600" cookieless="false"/>
    <!--获取在线人数，开启以上设置-->
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.web.extensions>
    <!--设置Json返回长度-->
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <defaultDocument>
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: {100F1214-2E14-4409-B8AD-F2447301CBA1}-->